<h1><%= @restaurant.name %></h1>

<div>
<%= @restaurant.description %><br/>
<%= @restaurant.street %><br/>
<%= @restaurant.city %>, <%= @restaurant.state %><br/>
<%= @restaurant.zipcode %><br/>
<%= @restaurant.phonenumber %><br/>
</div><br/><br/>
<%= link_to "Edit", edit_restaurant_path, remote: true %>
<br/>
<%= link_to 'Back', restaurants_path %>
<%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>